"*":
  core:
    disabledPackages: [
      "linter-twig"
      "php-twig"
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
  editor:
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "f6026129-04b7-dbd1-4298-ebf845a8ffbd"
  "git-plus":
    commits: {}
  "php-cs-fixer":
    executeOnSave: true
  pigments:
    markerType: "dot"
  "tree-view": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
